<div>
    <button  class="btn btn-primary" [class.active]="IsSelected" (click)="onSelectUser()">
        <!-- @for (user of users; track user.name) {
            <li>{{ user.name }}</li>
            } @empty {
            <li>There are no users.</li>
            } -->
            <!-- <img [src]="imagePath()" [alt]="selectedUserSignal().name" height="30px" style="border-radius: 50%;"/> -->
            <!-- <li style="list-style:none;">{{user.name}}</li> -->
            <!-- <span style="margin-left: 10px;">{{selectedUserSignal().name}}</span> Access signal value. () executes the signal's read
            function which gives the value currently stored in the signal. -->
            <!-- <li style="list-style:none;">{{user.name}}</li>-->
            <img [src]="imagePath()" [alt]="user.name" height="30px" style="border-radius: 50%;"/>
            <span style="margin-left: 10px;">{{user.name}}</span>
        </button>
</div>